@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.contact-main-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.contact-left-container, .contact-right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-right-container img {
  width: 75%;
  height: auto;
}

.contact-upper-container {
  text-align: left;
  margin-bottom: 20px;
}

.ContactHead {
  font-size: 40px;
  color: #222C44;
  margin-bottom: -10px;
}

.ContactSub {

  font-size: 18px;
  color: #163247;
}

.contact-lower-container {
  width: 100%;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.contact-form {
  width: 100%; 
  display: flex;
  flex-direction: column;
  
  margin-bottom: 15px;
}

.contact-form label {
  align-self: flex-start; 
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  width: 60%; 
  padding: 10px;
  box-sizing: border-box;
  background-color: #D5EFFA;
  border: 1px solid #D5EFFA;
  border-radius: 10px;
  
  font-family: 'Poppins', sans-serif; 
}



.contact-form input:hover ,.contact-form textarea:hover {
  box-shadow: 0px 10px 15px rgba(26,33,118,0.13);
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #6c757d;
  font-family: 'Poppins', sans-serif; /* Applying Poppins font */
}

.contact-form textarea {
  resize: none; 
}

#con {
  display: block;
  width: 40%;
  padding: 10px;
  background-color: #222C44;
  color: #D5EFFA;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  transition: transform 0.5s ease;
  font-family: 'Poppins', sans-serif;

}

#con:hover{
  box-shadow: 0px 10px 15px rgba(26,33,118,0.13);
  transform: translateY(-3px)
}

